<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<ul>
  <% @tasks.each do |task| %>
    <li><%= link_to task.name, task_path(task) %> (<%= task.done %>)</li>
  <% end %>
</ul>

<p><%= link_to "Add a task", new_task_path %></p>
